.Logo-img{
    width:180px;
    height: 55px;
    aspect-ratio:initial;
}
.ico{
    height: 55px;
    width: 55px;
    margin-left: 4vw;
}
.navv{
    min-height: 72px;
    /* overflow: hidden; */
    margin: 10px;
    border-radius: 20px;
}
.itl{
    display: flex;
    align-items: center;
    margin-right: 5vw;
}
.text{
    font-weight: 600;
    font-size: 1.1rem;
}
.nav-toggle-btn{
    display: none;
}

.navbar-nav{
    /* background-color: blue; */
    margin-left: 30vw !important ;
}
@media (max-width: 991px){
    .navbar-nav{
        /* background-color: blue; */
        margin-left: 5vw !important ;
    }
}
@media (max-width: 845px) {
    .nav-toggle-btn {
      display: inline-block;
      margin-left: auto;
      margin-right: 10px;
      background-color: white;
      color: black;
      padding:5px;
      /* border: none; */
      border-radius: 5px;
      cursor: pointer;
    }
    /* .ico{
        margin-left: 0vw;
    } */
    
  
    .nav-toggle-btn.hidden {
      display: none;
    }
  
    .fulllogo {
      display: flex;
      align-items: center;
    }
  }