.send-msg-cont{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* background-color: yellow; */
}
.txtar .ip{
    width: 55vw;
    overflow-y: auto;
    border: none;
    resize: none;
    outline: none;
    /* background-color: blue; */
}
.abcde{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    /* background-color: orange; */
}

@media(max-width:1150px){
    .txtar .ip{
        width: 45vw;
    }
}
